@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;1,100&family=Big+Shoulders+Inline+Text&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}
html,
body {
  font-family: "alegreya-sans", "big-shoulders", sans-serif;
  color: black;
}

.navigation {
  display: none;
}
